@page "/demo/dialog"

<div class="demo-container">
    <h1 class="demo-title">Dialog</h1>
    
    <Dialog
        Title="Test Header with long text test"
        OpenInExternalWindowButtonClicked="OpenWindow"
        Opened="DialogOpened">
        Test
    </Dialog>
    
    <div class="demo-section">
        <h4 class="demo-section-title">Open component as dialog</h4>
        <div class="demo-content">
            <button @onclick="OpenDialog">Open Dialog</button>
        </div>
    </div>
</div>

@code {
    private bool DialogOpened { get; set; }

    private void OpenDialog()
    {
        DialogOpened = true;
    }

    private void OpenWindow()
    {
    }

}
