@page "/progressbar-demo"

<h3>ProgressBar Demo</h3>

<InputGroup Title="Progress">
    <input type="range" min="0" max="100" @bind="progressValue" style="width: 100%;" />
</InputGroup>

<ProgressBar Value="@progressValue" Min="0" Max="100" />
<ProgressBar Value="75" Min="0" Max="100" />
<ProgressBar Value="100" Min="0" Max="100" />
<ProgressBar Value="0" Min="0" Max="100" />

<ProgressCircle Value="@progressValue"></ProgressCircle>

@code {
    private double progressValue = 50;
} 