<div class="input-group">
    <div class="title">
        @Title
    </div>
    <div class="input">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public required string Title { get; set; }
    [Parameter] public required RenderFragment ChildContent { get; set; }
}