<button
    class="navigation-button @(Active ? "active" : "")"
    onclick="@OnClick">
    @ChildContent
</button>

@code {
    [Parameter] public required RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback Click { get; set; }
    [Parameter] public bool Active { get; set; }

    private async Task OnClick()
    {
        if (Click.HasDelegate)
        {
            await Click.InvokeAsync(null);
        }
    }
}