<div class="toolbar @(ReserveSpaceForWindowButtons ? "window-button-spacer" : "")">
    <div class="title">
        @Title
    </div>

    <div class="toolbar-content">
        @if (SplitViewContext?.IsSidebarCollapsed == true)
        {
            <button class="nav icon" @onclick="OpenSidebar">
                @if (SplitViewContext?.SidebarIcon != null)
                {
                    @SplitViewContext.SidebarIcon
                }
                else
                {
                    <i class="fa-light fa-sidebar"></i>
                }
            </button>
        }

        <div class="header-content">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [CascadingParameter] public NavigationSplitViewContext? SplitViewContext { get; set; }

    private bool ReserveSpaceForWindowButtons => SplitViewContext?.IsSidebarCollapsed ?? true;

    private void OpenSidebar()
    {
        SplitViewContext?.Owner.ExpandSidebar();
    }
}
